apiVersion: apps/v1
kind: Deployment
metadata:
  name: transformer-model
  labels:
    app: transformer-model
spec:
  replicas: 1
  selector:
    matchLabels:
      app: transformer-model
  template:
    metadata:
      labels:
        app: transformer-model
    spec:
      containers:
      - name: transformer-model
        image: us-central1-docker.pkg.dev/golden-capsule-479805-q9/deepseek-repo/transformer-model:latest
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "32Mi"
            cpu: "25m"
          limits:
            memory: "64Mi"
            cpu: "50m"
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: transformer-model-service
spec:
  selector:
    app: transformer-model
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer